


<!-- TODO set up the side nav so it collapses in when the screen narrows.  -->

<div class="sidenav">
  <form class="form-filter"  >

      <h4 class="filter-title">School</h4>
      <input list="schoolFilter" type="text" id="schoolFilterInput" ng-model="string" placeholder="School Name" (keyup)="setSchoolFilter($event.target.value)" >
         <datalist id="schoolFilter">
          <option value={{school.schoolName}} *ngFor="let school of schoolArr">
        </datalist>
        <h4 class="filter-title">Year</h4>
        <input list="yearFilter" type="text" id="yearFilterInput" placeholder="Course Level" (keyup)="setYearFilter($event.target.value)">
         <datalist id="yearFilter">
          <option *ngFor="let year of levelsArr" value={{year}} >
        </datalist>
        <h4 class="filter-title">Faculty</h4>
        <input list="facultyFilter" type="text" id="facultyFilterInput" placeholder="Faculty" (keyup)="setFacultyFilter($event.target.value)">
         <datalist id="facultyFilter">
          <option *ngFor="let fac of facutlyArr" value={{fac.facultyName}} >
        </datalist>



    <!-- <button class="dropdown-btn">Major
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div> -->


  </form>
</div>

<div class="title">
  <h1>Courses</h1>
  <h3> <i> The latest in courses</i> </h3>

</div>

<body>   <!--Putting body here made everything align to the right -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12" *ngFor="let school of schoolArr | filter:schoolFilter " >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h2> {{school.schoolName}} </h2>
          </mat-expansion-panel-header>
          
          <div class="col-sm-12" *ngFor="let faculty of facutlyArr | filter:facultyFilter " >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <h3>{{faculty.facultyName}}</h3>
              </mat-expansion-panel-header>
              
              <div class="title" *ngFor="let lvl of levelsArr | filter:yearFilter" >
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <h3 >{{lvl}}00 Level Courses</h3>
                  </mat-expansion-panel-header>
                  
                  <div class="card-columns" >
                    <div *ngFor="let course of coursesArr" >
                      <div class="card bg-light " *ngIf = "course.courseLevel === lvl && course.schoolID === school.schoolID && faculty.facultyName === 'Engineering'" >   <!-- bg-light gives card colour -->
                        <div class="card-body text-center">
                          <div class="card-header">{{course.courseName}}</div>
                          <div class="row">
                            <div class="col-12">
                              Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                          </div>
                        </div>
                        <nav *ngIf = "course.courseLevel == lvl  ">
                          <a routerLinkActive="active" routerLink="/course-id/{{course.courseID}}" class="stretched-link"></a>
                        </nav>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
                <!-- </div> -->
              </div>
            </mat-expansion-panel>
          </div>
        </mat-expansion-panel>
    </div>
    </div>
  </div>

</body>
<!-- <div class="container"> THIS WAS THE EXAMPLE OF WHAT WAS ON MASTER
  <div class="title"  *ngFor="let lvl of levels">
    <h1>{{lvl}}00 Level Courses </h1>

    <div class="card-columns">
      <div *ngFor="let course of coursesArray">

          <div class="card bg-light" *ngIf = "course.courseLevel == lvl  ">
            <div class="card-body text-center">
              <p class="card-text">{{course.courseName}}: Description</p>
            </div>
            <nav *ngIf = "course.courseLevel == lvl  ">
              <a routerLinkActive="active" routerLink="/course-id/{{course.courseID}}" class="stretched-link"></a>
            </nav>
        </div>
      </div>
  </div>
</div> -->
