<mat-card class="video-page-container">
    <mat-card-header>

        <mat-card-title *ngFor="let vid of videoArray">{{vid.description}}</mat-card-title>
        <mat-card-subtitle>Create by: </mat-card-subtitle>
    </mat-card-header>
    <iframe class='video' [src]="videoURL | sanitize" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <mat-card class="reply-form" *ngIf="this.authService.isLoggedIn">
        <form [formGroup]="submitCommentForm" (ngSubmit)="onSubmit(videoID, 0)">
            <textarea id="body" type="text" formControlName="body" placeholder="Add a reply to the video..."></textarea>
            <button mat-stroked-button class="button"  type="submit">Submit</button>
        </form>
    </mat-card>
    <mat-card class="comment" *ngFor="let comment of commentArray">
        <p class='username'>User: <b>{{comment.author_username}}</b></p>
        <p class='body'>{{comment.body}}</p>

        <div class='reply-form-comment'>
            <div [hidden]="!(this.openedCommentBoxID===comment.comment_id)">
                <form [formGroup]="submitCommentForm" (ngSubmit)="onSubmit(comment.comment_id,1)">
                    <textarea id="body" type="text" formControlName="body" placeholder="Enter your Comment Here"></textarea>
                    <div class="form-controls">
                        <button mat-button (click)="closeCommentBox()">Collapse</button>
                        <button mat-button class="button" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <a *ngIf="!this.authService.isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="/login">
                <button mat-button>REPLY</button>
            </a>
            <div *ngIf="this.authService.isLoggedIn">
                <button mat-button (click)="setOpenCommentBox(comment.comment_id)">REPLY</button>
            </div>
        </div>

        <button mat-button (click)="getChildComments(comment.comment_id)">View Replies</button>
        <div>
            <div class="child-comment" *ngFor="let child of comment.children">
                <p class='username'>User: <b>{{child.author_username}}</b></p>
                <p class='body'>{{child.body}}</p>
            </div>
        </div>
    </mat-card>
</mat-card>