.video-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;


  background-color: rgba($color: lightskyblue, $alpha: 0.3);

  .video {
    width: 100%;
    height: 720px;
  }

  .mat-card-header {
    justify-content: left;
  }
}

.reply-form {
  background-color: rgb(88, 187, 248);
  margin-top: 5px;

  form {
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 0px;
  }

  textarea {
    flex-grow: 1;
    width: 100%;
  }

  .button {
    margin: 5px;
  }
}

.comment {
  text-align: left;
  background-color: lightgrey;
  margin-top: 10px;

  .username {
    font-size: 0.8em;
  }

  .child-comment {
    background-color: rgba(105, 105, 105, 0.377);
    margin-top: 5px;
    padding: 10px;
  }

  .reply-form-comment {

    form {
      display: flex;
      flex-direction: column;
    }

    .form-controls {
      width: auto;
      align-self: flex-end;
    }

    textarea {
      width: 100%;
    }
  }
}
