<h1 mat-dialog-title>Add a New Video</h1>
<div mat-dialog-content>
    <p>Insert New Video Information Here</p>
    <mat-form-field>
        <mat-label>Youtube Link: </mat-label>
        <input matInput [(ngModel)]="data.videoLink">
        <br>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description: </mat-label>
        <input matInput [(ngModel)]="data.videoDescription">
        <br>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Course ID: </mat-label>
        <mat-select [(ngModel)]="data.relatedCourseID">
            <mat-option *ngFor="let course of coursesArr" [value]="course.courseID">
                {{course.courseName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>