.image
{
  background-color:transparent;
  opacity:.5;

}

.title
{
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 80px;
  justify-content: center;

}

.row
{
    display: flex;
    padding-top: 50px;

    justify-content: center;
    align-items: center;
}

.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(59, 121, 202, 0.2);
    transition: 0.3s;
    //padding-right: 5px;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 32px 64px 0 rgba(59, 121, 202, 0.3);
  }

  .card a .card-body{
    color: #fff;
    justify-content: center;

  }

  .card-text{
    padding-right: 10px ;
  }
