<header>
  <div class="image" *ngFor="let school of schoolArray">
    <img src="../../assets/school-tiles/{{school.schoolID}}.png" alt="school logo" style="width:200px; height:200px">
   </div>

  <div class="title">
    <h1>Programs</h1>
  </div>
</header>

<body>
  <div class="container">
    <div class="row" *ngFor="let faculty of facultyArray">
      <h2 class="program-title"> {{faculty.facultyName}} </h2>

      <div class="col-sm-12 " *ngFor="let prog of programArray">
        <div class="col-auto mb-3">
          <div class="card">
            <div class="card-body text-center" *ngIf="faculty.facultyID === schoolID">
              <h4 class="card-title" style="font-size: 2.5vw;"> {{prog.programName}} </h4>
              <p class="card-subtitle"> </p>
              <a [routerLink]="['/courses/']" class="stretched-link" (click)="setProgramID(prog.programID)"></a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>







<!-- <div class="row">
    <div class="col-md-4" style="width: 200px; height: 80px;" *ngFor="let program of programs">
        <div class="card">
            <div class="card-body">
                <h3 class="program-title"> {{program}} </h3>
                <p class="program-subtitle"> ID: {{program.programID}}</p>
                 <a [routerLink]="['/courses/']" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div> -->
