

<div *ngFor="let cour of course">
  <h1 >{{cour.courseName}}</h1>
</div>
<div *ngIf="!videosArray || videosArray.length === 0">
  <h3>Currently No Videos For This Course</h3>
</div>

<div class="container">
    <div  *ngFor="let vid of videosArray">
        <mat-card class="card-container">

            <mat-card-title-group class="card-title">
                <mat-card-title>{{vid.description}}</mat-card-title>
                <!-- <mat-card-subtitle class = "card-subtitle">Example topic subtitle</mat-card-subtitle> -->
            </mat-card-title-group>

            <a [routerLink]="['/video-page/', vid.videoID]" class="stretched-link"></a>

            <img class="card-image" mat-card-sm-image
                [src]="getThumbnailLink(vid.videoLink) | sanitize" alt="Thumbnail">
        </mat-card>
    </div>
  </div>
  <br>
