.card-title{
 float: inline-end;
}
.card-subtitle{
    float: inline-end;
}
.card-image{
    float: inline-start;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;

     /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: (0,0,1);
}