.title
{
font-size: 15px;

}
.subtitle
{
    font-size: 12px;
}

.form-control
{
    padding-top: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  margin-top: 15px
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 16px 0 rgba(59, 121, 202, 0.2);
  outline-color: rgba(59,121,202,0.2);
  outline-width: thick;
}



.container{
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-link {
  padding-top: 50px;
  padding-bottom: 10px;
}

.col {
  padding-bottom: 10px;
}
