<!-- <input class="form-control mr-sm-2" type="search" name="search-bar" spellCheck="true" placeholder="Search"
    aria-label="Search" ng-click="searchQuery=query" [(ngModel)]="searchBarTerm" autocomplete="off"> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngFor="let school of schoolArr | filter:searchBarTerm ">
        <div class="card">
            <div class="card-body">
                <h3 class="card-header text-left">{{school.schoolName}}</h3>
                <p class="subtitle">School</p>
                <div class="row">
                  <div class="col-12 text-left">
                    Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>
                <a [routerLink]="['/program-page/',school.schoolID]" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12" *ngFor="let program of programArr | filter:searchBarTerm ">
        <div class="card">
            <div class="card-body">
                <h3 class="card-header text-left">{{program.programName}}</h3>
                <p class="subtitle"> Program</p>
                <div class="row">
                  <div class="col-12 text-left">
                    Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>
                <!-- TODO need to fix this so the filters are populated based on the schoolID and programID -->
                <a  [routerLink]="['/courses']" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" *ngFor="let video of videoArr | filter:searchBarTerm ">
        <div class="card">
            <div class="card-body">
                <h3 class="card-header text-left">{{video.description}}</h3>
                <p class="subtitle">Video</p>
                <div class="row">
                  <div class="col-12 text-left">
                    Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>
                <a [routerLink]="['/video-page/',video.videoID]" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12" *ngFor="let course of coursesArr | filter:searchBarTerm ">
        <div class="card">
            <div class="card-body">
                <h3 class="card-header text-left">{{course.courseName}}</h3>
                <p class="subtitle">Course</p>
                <div class="row">
                  <div class="col-12 text-left">
                    Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>
                <a [routerLink]="['/course-id/',course.courseID]" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>

<a class="nav-link" routerLinkActive="active" routerLink="/home"><button type="button" class="btn btn-danger">Go back to
        home</button></a>

</div>
