.profile-card {
  display: flex;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.288);

  
}
img {
  width: 30%;
  height: auto;
}
.info {
  background-color: rgba(153, 0, 255, 0.288);
  width: 60%;
}

.fields {
  list-style-type: none;
  padding-left: 0px;


  li {
    .mat-card {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-content: center;

    }
    .name {

      color: darkgrey;
    }

    .value {
      font-size: 1.2em;
      text-emphasis: bold;
      color: darkblue;
    }
  }
}
