<div class="container">
  <mat-card class="profile-card">
    <img src="../../assets/profile-placeholder/profile-placeholder-lg.jpg">
    <mat-card class="info">
      <mat-card-header>
        <mat-card-title>Hello, <b>{{currentUser.firstName}}</b>!</mat-card-title>
      </mat-card-header>

      <ul class="fields">
        <li>
          <mat-card>
            <span class="name">Username</span>
            <span class="value">{{currentUser.userName}}</span>
          </mat-card>
        </li>
        <li>
          <mat-card>
            <span class="name">Program</span>
            <span class="value">{{currentUser.major ? currentUser.major : " - "}}</span>
          </mat-card>
        </li>
        <li>
          <mat-card>
            <span class="name">Minor</span>
            <span class="value">{{currentUser.minor ? currentUser.minor : " - "}}</span>
          </mat-card>
        </li>
        <li>
          <mat-card>
            <span class="name">School</span>
            <span class="value">{{currentUser.school ? currentUser.school : " - "}}</span>
          </mat-card>
        </li>

      </ul>
    </mat-card>
  </mat-card>
</div>