<head>
    <title>Login</title>
</head>


<div class="container">
    <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">

        <!-- CURICULA LOGO GOES HERE, in src -->
        <img class="mb-4" src="" alt="" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">Welcome back! We missed you.</h1>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email address" required autofocus>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email address is required</div>
        </div>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"placeholder="Password" required>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

        <div [hidden]="(this.showIncorrectUsernamePassword===0)">
            <font color="red">Username or password is incorrect</font>
        </div>
        <div [hidden]="(this.showErrorOccured===0)">
            <font color="red">An error occured, please try again</font>
        </div>
    </form>
</div>

