<header>
    <h1>Schools</h1>
    <h3> <i>Choose your university</i> </h3>
</header>


<!--

  <div class="row">
    <div class="col-3 card" *ngFor="let schools of schoolArray">
      <div class="col-md-24">
        <img class="card-img-top" src="../../assets/school-tiles/{{schools.schoolID}}.png"
        alt="school logo">
          <h5 class="card-title">{{schools.schoolName}}</h5>
          <a [routerLink]="['/program-page/', schools.schoolID]" class="stretched-link"></a>

     </div>
   </div>
  </div> -->

  
  <div class="row justify-content-around">
    <div  class="col-3 card" *ngFor="let schools of schoolArray">
      <img class="card-img-top" src="../../assets/school-tiles/{{schools.schoolID}}.png"
      alt="school logo">
      <h5 class="card-title" style="font-size: 2vw;">{{schools.schoolName}}</h5>
      <a [routerLink]="['/program-page/', schools.schoolID]" class="stretched-link"></a>
    </div>
  </div>
  
<!--https://medium.com/javascript-in-plain-english/angular-6-bootstrap-4-row-columns-same-height-8be5bdb53099
  <div class="container m-t-md">
    <h1 style="text-align: center;" class="mg-bottom">
  Angular + Bootstrap ngFor 3 columns in row</h1>
    <div class="row mg-bottom" *ngFor="let row of newArray">
      <ng-container *ngFor="let item of row?.items">
        <app-item class="col-xs-12 col-md-4" [item]="item"></app-item>
      </ng-container>
    </div>
  </div> -->

<!-- MDBBootstrap -->
<!-- https://mdbootstrap.com/support/angular/multiple-cards-using-ngfor/ -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-3 mx-auto my-5" *ngFor="let card of cards">
        <mdb-card>
          <mdb-card-img [src]="card.img" alt="Card image cap">
          </mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{card.title}}</h4>
            </mdb-card-title>

            <mdb-card-text>
              {{card.description}}
            </mdb-card-text>

            <button mdbBtn color="primary">{{card.buttonText}}</button>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div> -->
