
.row > div[class*='col-'] {
  display: flex;
  flex-wrap: wrap;

}

.row {
padding-bottom: 50px;
padding-top: 20px;
margin-left: 10px; /* Same as the width of the sidenav */
margin-right: 10px;
}

.col-3 {
 display: flex;
 flex-wrap: wrap;
 margin:10px;
 padding:10px;
}
.card-text{
  display: flex;
//   margin:10px;
//  padding:10px;

}

.card-title{
  display: flex;
  flex-wrap: wrap;

}
.card-body {
  display: flex;
  flex-wrap: wrap;
}


.card-deck {
    padding-top: 30px;
    padding-bottom: 100px;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(59, 121, 202, 0.2);
    transition: 0.3s;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 32px 64px 0 rgba(59, 121, 202, 0.3);
  }

  .card a .card-body{
    color: #fff;
  }

  .container
  {
    width: 100%;
    height: 100%;
  }
