nav {
  z-index: 2002;
  color: darkgrey;
  background: linear-gradient(to right, #18abc2, rgb(134, 203, 238)) !important;
  width: 100%;

  //#70777d - greyish
  //#3f51b5 - purplish
}

.navbar-brand
{
  font-size: 27.5px !important;
  z-index: 1;
}
nav li{
  display: inline-block;
  text-align: center;
  font-size: 22.5px !important;
}



.globalSearch {
  display: none;
}

.navbar-form {
  font-size: 5px !important;
  position: absolute;

}
// TODO fix so this is behind the nav bar on the courses page
.footer {
  z-index: 1020;
}

/* Generic styling */
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  position: relative;
  z-index: 2;
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
  z-index: 2; //didnt change anything
  //position: absolute;
}
footer a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 65px; 
}

.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 2; //didnt change anything
  //position: absolute;
}

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
  z-index: 2; //didnt change anything
  position: sticky;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
