<!-- Fixed navbar -->
<!-- look what mb-5 does to nav bar -->
<div class="container"></div>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark mb-auto">
      <a class="navbar-brand" href="#">Curicula</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <!--extra stuff after navbar-nav should fix collapse issue-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/schools">Schools</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/videos">Videos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/courses">Courses</a>
          </li>


          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FAQ</a>
          </li>
        </ul>

        <!-- TODO Need to fix the nav bar so that the right side collapses properly -->
        <!-- <form class="topnavsearchbar">
          <input class="topnavsearchbar-control mr-sm-2" type="search" placeholder="Search" aria-label = "Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form> -->

        <input list="globalSearch" type="text" id="searchBar" (keyup)="updateSearch($event.target.value)">
         <datalist id="globalSearch">
            <option value={{school.schoolName}} *ngFor="let school of schoolArr">
            <!-- this way of dealing with programs below will be taken out in later version - resturcturing of program/faculty in database -->
            <!-- <option value={{program.programName}} *ngFor="let program of programArr"> -->
            <option value={{course.courseName}} *ngFor="let course of coursesArr">
             <option value={{video.description}} *ngFor="let video of videoArr">
          </datalist>
          <a class="nav-link" [routerLink]="['/search-bar']"  ><button type="button"
            class="btn btn-secondary">Search</button></a>

        <form class="form-inline mt-2 mt-md-0">
          <a *ngIf="!this.authService.isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="/login"><button type="button"
              class="btn btn-secondary">Login</button></a>
          <a *ngIf="!this.authService.isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="/register"><button type="button"
              class="btn btn-secondary">Register</button></a>

          <a *ngIf="this.authService.isLoggedIn" class="nav-link" routerLinkActive="active"><button type="button"
            class="btn btn-secondary" (click)="navigateToUserProfile()">UserProfile</button></a>
            <!-- routerLink="/user-profile/{{currentUser[0].userUUID}}" -->


            <!-- <div class="row">
              <div class="videos" *ngFor="let school of schoolArr | filter:searchBarTerm ">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="title">{{school.schoolName}}</h3>
                          <p class="subtitle">School</p>
                          <a href="/program-page/{{school.schoolID}}" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="row">
              <div class="videos" *ngFor="let program of programArr | filter:searchBarTerm ">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="title">{{program.programName}}</h3>
                          <p class="subtitle"> Program</p>
                          <a href="" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="videos" *ngFor="let video of videoArr | filter:searchBarTerm ">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="title">{{video.description}}</h3>
                          <p class="subtitle">Video</p>
                          <a href="" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="row">
              <div class="courses" *ngFor="let course of coursesArr | filter:searchBarTerm ">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="title">{{course.courseName}}</h3>
                          <p class="subtitle">Course</p>
                          <a href="/course-id/{{course.courseID}}" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
          </div> -->



         <!--  <a *ngIf="!this.authService.isLoggedIn" class="p-2 text-dark" routerLinkActive="active" routerLink="/log-in">Signin</a> -->
         <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>

          <!-- <button type="submit" class="btn btn-success" routerLinkActive="active" routerLink="/results">Search</button> -->
        </form>

      </div>
    </nav>
  </header>

  <body>
    <!-- TODO need to add a bottom bar with the youtube facebook and twitter accounts -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <div class="container"></div>
    <!-- this is what sets up routing -->
    <div class="container text-center">
      <router-outlet></router-outlet>
    </div>
  </body>
  <footer>
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy; 2020 Copyright Schulich Inc.</li>
      <li><a href="https://www.facebook.com/curicula.app.35" target="_blank"><i class="fab fa-facebook"></i>
      </a></li>
      <li> <a href="https://www.instagram.com/curiculaapp/?hl=en" target="_blank"><i class="fab fa-instagram"></i>
      </a></li>
      <li><a href="https://twitter.com/CuriculaApp" target="_blank"><i class="fab fa-twitter"></i>
        </a></li>
      <li><a href="https://www.youtube.com/channel/UCGIu6mZWoPvGnHQ4gOtTYaw?view_as=subscriber" target="_blank"><i
            class="fab fa-youtube"></i>
        </a></li>
    </ul>
  </section>
</footer>
