
div {
  padding-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 20px;
  width: 20px;
  outline: black;
  // color: grey;
  // outline-color:black;
  // background-color: rgba(56,56 ,56 , 0.3);
  background-size: 100%, 100%;
  // border-radius: 50%;
  // border: 1px solid black;
  filter: invert(1);
}

.carousel-caption {
  width:300px;
  z-index:100;

  align-self: centre;
  color: #000;


}

.card {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.card-img-top
{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-text
{
  font-style: italic;
}