<div class="jumbotron">
  <h2 class="display-4">Curicula</h2>
  <h4 class="lead">Not every class room can provide you with the tools you need to learn.
    Learn from your peers who have been in your shoes.
  </h4>

  <p> Curicula is an online learning platform supported by students from universities all over Canada.
    Here you can find videos for a variety of programs and courses, as well as
    share knowledge on topics you understand. There's something for everyone.</p>
  <h5>
    <i> Don't wait for your next learning
      opportunity. Create it.
    </i>
  </h5>

</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>

  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/home-card/image.png" style="width:600px;height:300px;" alt="Norway1">
      <div class="carousel-inner">
        <h3>Accessible</h3>
        <p>Anywhere, anytime, on your terms</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/home-card/image2.png" style="width:600px;height:300px;" alt="Norway2">
      <div class="carousel-inner">
        <h3>Relatable</h3>
        <p>Learn from your peers who have struggled through the material</p>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div class="card-deck">
  <!-- <div class="row"> -->
  <!-- <div class="col-md"> -->
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="../../assets/home-card/cardImage5.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Learn Your Way</h5>
      <p class="card-text">"Curicula gives me the resources I need to learn the material in a way that suits me."</p>
      <p class="card-subtext">- Alex Glodzinski</p>

    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="col-md"> -->
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="../../assets/home-card/cardImage6.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Office Hours Anytime</h5>
      <p class="card-text">"Curicula makes learning from my peers accessible and easy. No more waiting for office
        hours."</p>
      <p class="card-subtext">- Kyle Friedt</p>

    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="col-md"> -->
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="../../assets/home-card/cardImage7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tutor Your Peers</h5>
      <p class="card-text">"Creating content for my peers helped me learn the material and excel in my classes."</p>
      <p class="card-subtext">- Colton Osterlund</p>

    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>