<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<div class="container">

    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your new Curicula account</p>

        <form class="form-sigin" [formGroup]="signupForm" (ngSubmit)="registerUser()">

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" id="name" formControlName="userName"
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" placeholder="User Name" type="text" required>
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">Username is required</div>
                </div>
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="First Name" type="text" required>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First name is required</div>
                </div>
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last Name" type="text" required>
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last name is required</div>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input class="form-control" formControlName="email" 
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" type="text" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                </div>
                <input class="form-control" list="schools" name="school" formControlName="schoolID"
                    [ngClass]="{ 'is-invalid': submitted && f.schoolID.errors }" placeholder="Select a school" type="text" required>
                <datalist id="schools">
                    <option value={{school.schoolName}} *ngFor="let school of schoolsObAr">
                </datalist>
                <div *ngIf="submitted && f.schoolID.errors" class="invalid-feedback">
                    <div *ngIf="f.schoolID.errors.required">School is required</div>
                </div>
            </div>


            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-graduation-cap"></i> </span>
                </div>
                <!-- TODO fix the place holder -->
                <select class="form-control" formControlName="majorProgramID" type="text" 
                    [ngClass]="{ 'is-invalid': submitted && f.majorProgramID.errors }" placeholder="Select A Major" required>
                    <option *ngFor="let major of majorsObAr">{{major.programName}}</option>
                </select>
                <div *ngIf="submitted && f.majorProgramID.errors" class="invalid-feedback">
                    <div *ngIf="f.majorProgramID.errors.required">Major is required</div>
                </div>
            </div> <!-- form-group end.// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-graduation-cap"></i> </span>
                </div>
                <!-- TODO fix the place holder -->
                <select class="form-control" formControlName="minorProgramID" type="text" 
                    [ngClass]="{ 'is-invalid': submitted && f.minorProgramID.errors }" placeholder="Select A Minor" required>
                    <option *ngFor="let minor of minorsObAr">{{minor.programName}}</option>
                </select>
                <div *ngIf="submitted && f.minorProgramID.errors" class="invalid-feedback">
                    <div *ngIf="f.minorProgramID.errors.required">Minor is required</div>
                </div>
            </div> <!-- form-group end.// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Create password" formControlName="password" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div> 
            </div> <!-- form-group// -->

            <!-- removed repeat password for now. not a priority -->

            <div class="form-group">
                <button type="submit" class="btn btn-info btn-block"> Create Account </button>
            </div> <!-- form-group// -->

            <p class="text-center">Have an account? <a class="" routerLinkActive="active" routerLink="/login">Login</a>
            </p>
        </form>
    </article>

    <div [hidden]="(this.showErrorOccured===0)">
        <font color="red">Username or email has already been used</font>
    </div>


</div>