.form-group input[type="text"]:focus{
    box-shadow: (0 0 10px #18abc2);
  }
  
  .form-group input[type="email"]:focus{
    box-shadow: (0 0 10px #18abc2);
  }

  .form-group input[type="password"]:focus{
    box-shadow: (0 0 10px #18abc2);
  }

.form-group select[class="form-control"]:focus{
    box-shadow: (0 0 10px #18abc2);
}


.form-group select[class="custom-select"]:focus{
    box-shadow: (0 0 10px #18abc2);

    
}

//trying to get menu selections to have proper color
.container form .form-control option:focus{
    color: #fff;
    background-color: #18abc2;
    border-color: #fff;}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
    
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
