// .card-title{
//     position: relative;
//     left: 5%;
// }
// .card-subtitle{
//     float: inline-end;
// }
// .card-image{
//     position: relative;
//     right: 5%;
// }
.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;

     /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(59, 121, 202, 0.2);
    transition: (0,0,1);
}

/* On mouse-over, add a deeper shadow */
.card-container:hover {
  box-shadow: 0 16px 16px 0 rgba(59, 121, 202, 0.3);
  outline-color: rgba(59,121,202,0.2);
  outline-width: thick;
}


.container {
  margin-left: 140px;

  padding-bottom: 50px;
}
.row {
  padding-top: 30px;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom:30px;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:lightgray;
  overflow-x: hidden;
  padding-top: 200px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
.filter-title {
  color: rgb(114, 112, 112);
  border-color: black;
  padding-top: 6px;
}
