<!-- TODO set up the side nav so it collapses in when the screen narrows.  -->

<div class="sidenav">
  <form class="form-filter"  >

      <h4 class="filter-title">School</h4>
      <input list="schoolFilter" type="text" id="schoolFilterInput" placeholder="School Name" (keyup)="setSchoolFilter($event.target.value)">
         <datalist id="schoolFilter">
          <option value={{school.schoolName}} *ngFor="let school of schoolArr">
        </datalist>
        <h4 class="filter-title">Program</h4>
        <input list="programFilter" type="text" id="programFilterInput" placeholder="Program" (keyup)="setProgramFilter($event.target.value)">
         <datalist id="programFilter">
          <option *ngFor="let prog of facultyArr" value={{prog.facultyName}} >
        </datalist>
        <h4 class="filter-title">Course</h4>
        <input list="courseFilter" type="text" id="courseFilterInput" placeholder="Course Name" (keyup)="setCourseFilter($event.target.value)">
         <datalist id="courseFilter">
          <option *ngFor="let course of coursesArr" value={{course.courseName}} >
        </datalist>




    <!-- <button class="dropdown-btn">Major
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div> -->


  </form>
</div>


<div class="title">
  <h1>Videos</h1>
  <h3> <i> The latest educational content</i> </h3>
  <button mat-button (click)="openNewVideoDialog()">
    <h6>Upload a video</h6>
  </button>
</div>



<body>
<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngFor="let school of schoolArr | filter:schoolFilter">
	  <mat-expansion-panel>
	    <mat-expansion-panel-header>
		  <h2> {{school.schoolName}} </h2>
        </mat-expansion-panel-header>
      
	    <div class="title" *ngFor="let prog of facultyArr | filter:programFilter" >
	    <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h3 >{{prog.facultyName}}</h3>
          </mat-expansion-panel-header>
	  
		<div *ngFor="let course of coursesArr | filter:courseFilter">
		
            <div  *ngFor="let vid of videosArray">
               <mat-card class="card-container" *ngIf="course.schoolID == school.schoolID && vid.relatedCourseID == course.courseID && prog.facultyName == 'Engineering'">

                <mat-card-title-group class="card-title">
                    <mat-card-title>Course: {{course.courseName}} {{vid.description}}</mat-card-title>

                </mat-card-title-group>

                <a [routerLink]="['/video-page/', vid.videoID]" class="stretched-link"></a>

                <img class="card-image" mat-card-sm-image
                    [src]="getThumbnailLink(vid.videoLink) | sanitize" alt="Thumbnail">
            </mat-card> 
              </div>
          </div>
	  
        
         <!-- <div *ngFor="let course of coursesArr | filter:courseFilter">

          <div  *ngFor="let vid of videosArray">
            <mat-card class="card-container" *ngIf="course.schoolID == school.schoolID && vid.relatedCourseID == course.courseID && prog.facultyName == 'Engineering'">

                <mat-card-title-group class="card-title">
                    <mat-card-title>Course: {{course.courseName}} {{vid.description}}</mat-card-title>

                </mat-card-title-group>

                <a [routerLink]="['/video-page/', vid.videoID]" class="stretched-link"></a>

                <img class="card-image" mat-card-sm-image
                    [src]="getThumbnailLink(vid.videoLink) | sanitize" alt="Thumbnail">
            </mat-card> 
			
          </div> -->
		
		</mat-expansion-panel>
        </div>
        <br>
      </mat-expansion-panel>
    </div>
  </div>
</div>
</body>



